<!-- Vertical navbar -->
<!-- Requires imports.ejs and sidebar.css to be added to head tag. -->
<!-- Make sure to wrap your content in a div/main tag with the id="content" -->

<div class="vertical-nav text-center" id="sidebar" style ="background-color: #081A51;">
  <div class="py-4 px-3 mb-4 ">
    <div class="media d-flex align-items-center" id="nav-title">
      <img src="/img/database.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0" style = "color:white; padding-left:15px;">SQL Study</h4>
        <p class="font-weight-light text-light mb-0">Admin</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small mb-0" style ="color:#f0f8ff; padding:10px; text-align:left;">Home</p>

  <ul class="nav flex-column"  >
    <li class="nav-item">
      <a href="/admin" class="nav-link">
                Admin
            </a>
    </li>
    <li class="nav-item">
      <a href="/dashboard" class="nav-link">
                User
            </a>
    </li>
    <hr style = "color: white">
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0" style ="color:#f0f8ff;text-align:left;">Chapters</p>

    <li class="nav-item">
      <a href="/admin/chapters/add" class="nav-link">
                Add
            </a>
    </li>
    <li class="nav-item">
      <a href="/admin/chapters/edit" class="nav-link">
                Edit
            </a>
    </li>
    <hr style = "color:white;">
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0" style ="color:#f0f8ff;text-align:left;">Pages</p>

    <li class="nav-item">
      <a href="/admin/pages/add" class="nav-link">
                Add
            </a>
    </li>
    <li class="nav-item">
      <a href="/admin/pages/edit" class="nav-link">
                Edit
            </a>
    </li>
    <hr style = "color:white;">
    <li class="nav-item">
      <a href="/logout" class="nav-link active">
                Log Out
            </a>
    </li>
  </ul>

</div>
<!-- End vertical navbar -->
