<head>
    <title>SQL Study</title>
    <!-- JS Imports
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/functions.js"></script>
    -->
    <ul>
      <li><a class="active" href="#dashboard">Dashboard</a></li>
      <li><a href="#lecture">Lecture</a></li>
      <li><a href="#quiz">Quizzes</a></li>
      <li><a href="#sandbox">Sandbox</a></li>
    </ul>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
