<!-- Vertical navbar -->
<!-- Requires imports.ejs and sidebar.css to be added to head tag. -->
<!-- Make sure to wrap your content in a div/main tag with the id="content" -->

<div class="vertical-nav text-center" id="sidebar" style ="background-color: #081A51;">
  <div class="py-4 px-3 mb-4 ">
    <div class="media d-flex align-items-center" id="nav-title">
      <img src="/img/database.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0" style = "color:white; padding-left:15px;">Jason Doe</h4>
        <p class="font-weight-light text-light mb-0">Student</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0" style ="color:#f0f8ff; text-align:left;">Main Menu</p>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="/dashboard" class="nav-link active">
                Dashboard
            </a>
    </li>
    <hr style = "color: white">
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0" style ="color:#f0f8ff;text-align:left;">Workspace</p>

    <li class="nav-item">
      <a href="/lecture" class="nav-link active">
                Lecture
            </a>
    </li>
    <li class="nav-item">
      <a href="/quizzes" class="nav-link active">
                Quizzes
            </a>
    </li>
    <li class="nav-item">
      <a href="/sandbox" class="nav-link active">
                Sandbox
            </a>
    </li>
  <hr style = "color:white;">
  </ul>


</div>
<!-- End vertical navbar -->

<!-- <script>
//     $(function() {
// // Sidebar toggle behavior
// $('#sidebarCollapse').on('click', function() {
// $('#sidebar, #content').toggleClass('active');
// });
// });
</script> -->
