<!-- Vertical navbar -->
<!-- Requires imports.ejs and sidebar.css to be added to head tag. -->
<!-- Make sure to wrap your content in a div/main tag with the id="content" -->
<!-- Note: All routes that use this sidebar (which should be most user routes)
need to pass the req.admin variable as admin to the template. This is used in sidebar.ejs
template to decide whether or not to display the link to the admin section.

Ex. {admin : req.admin} -->

<div class="vertical-nav text-center" id="sidebar" style ="background-color: #081A51;">
  <div class="py-4 px-3 mb-4 ">
    <div class="media d-flex align-items-center" id="nav-title">
      <img src="/img/database.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0" style = "color:white; padding-left:15px;">SQL Study</h4>
        <p class="font-weight-light text-light mb-0">Student</p>
      </div>
    </div>
  </div>

  <br>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0" style ="color:#f0f8ff; text-align:left;">Main Menu</p>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="/dashboard" class="nav-link active">
                Dashboard
            </a>
    </li>
    <!-- Display admin link if user is an admin. -->
    <% if (admin) { %>
    <li class="nav-item">
      <a href="/admin" class="nav-link active">
                Admin
            </a>
    </li>
    <% } %>
    <hr style = "color: white">
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0" style ="color:#f0f8ff;text-align:left;">Workspace</p>

    <li class="nav-item">
      <a href="/lecture" class="nav-link active">
                Lecture
            </a>
    </li>
    <li class="nav-item">
      <a href="/quizzes" class="nav-link active">
                Quizzes
            </a>
    </li>
    <li class="nav-item">
      <a href="/sandbox" class="nav-link active">
                Sandbox
            </a>
    </li>
    <li class="nav-item">
      <a href="/resources" class="nav-link active">
                Additional Resources
            </a>
    </li>
    <hr style = "color:white;">
    <li class="nav-item">
      <a href="/logout" class="nav-link active">
                Log Out
            </a>
    </li>
  </ul>


</div>

<!-- End vertical navbar -->

<!-- <script>
//     $(function() {
// // Sidebar toggle behavior
// $('#sidebarCollapse').on('click', function() {
// $('#sidebar, #content').toggleClass('active');
// });
// });
</script> -->
