<!DOCTYPE html>
<html>
<head>
    <title>SQL Study</title>
    <link href="/css/about.min.css" rel="stylesheet"/>
</head>
<body style ="background-color:#081A51;">
  <nav>
    <div class="navbar">
        <img src="/img/sql study logo.png" alt="" width="120" height="96" class="d-inline-block align-text-top">
        <a class="nav-link" href="/" style = "padding-right: 50px; text-decoration: none; color:white;">Home</a>
        <a class = "active"href="/about" style = "padding-right: 50px; text-decoration: none;">About</a>
        <a class = "nav-link"href="/login" style = "padding-right: 50px; text-decoration: none; color:white; ">Log In</a>
        <a class = "nav-link"href="/signup" style = "padding-right: 50px; text-decoration: none; color:white;">Sign Up</a>
    </div>
</nav>
<p style ="color: white; font-family: 'Montserrat', sans-serif; font-size: 70px; font-weight:700; text-align: center; margin-top: 50px;">
  About Us
  </p>
    <div class="py-5">
      <div class="container py-5">
        <div class="row align-items-center mb-5">
          <div class="col-md-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
            <h2 class="text-light">What is SQL Study?</h2>
            <p class = "text-light text-left">
              SQL Study is the Capstone Project of Bryce Randolph, Harsandeep Singh, Jeannie Davis, and Kevin Robell. The goal of this project is to teach people how to use and build the most popular type of relational databases in use today which are SQL databases.
          </p>
            <a href="/signup" class="btn btn-light px-5 rounded-pill shadow-sm">Sign Up Today</a>
          </div>
          <div class="col-md-6 px-5 mx-auto order-1 order-lg-2"><img src="/img/sql study logo.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6 px-5 mx-auto"><img src="/img/db-graphic.jpg" alt="" class="img-fluid mb-4 mb-lg-0 rounded"></div>
          <div class="col-md-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 class="text-white">What will you learn?</h2>
            <p class = "text-light text-left">
              You’ll be learning how to insert, update, delete, and retrieve data from tables. Imagine that our website takes everything that you would need to get started and all of the most helpful videos and puts it into one place for you.
              <br><br>
              Happy Learning!
          </p>
          </div>
        </div>
      </div>
    </div>
    <div style = "text-align:center">
      <h2 class="display-4 font-weight-light text-light" style ="text-align: center;">Meet the Team - CTRL ALT ELITE</h2>
    </div>
    <div class="py-5">
      <div class="container py-5">
        <div class="row text-center">
          <!-- Team item-->
          <a href="https://www.linkedin.com/in/kevin-robell/" class="col-lg-3 col-sm-6 mb-5" target="_blank" rel="noreferrer">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/img/Kevin_R.JPG" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Kevin Robell</h5><span class="small text-uppercase text-white"></span>

            </div>
          </a>
          <!-- End-->

          <!-- Team item-->
          <a href="https://www.linkedin.com/in/harsandeep-singh-8b3780a7/" class="col-lg-3 col-sm-6 mb-5" target="_blank" rel="noreferrer">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQEN5yXAqIjjew/profile-displayphoto-shrink_200_200/0/1517473364164?e=1643846400&v=beta&t=fwQ0dhS_K17UAu5fbVfeUQ926sBWS-dC6G_b1YKbn94" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Harsandep Singh</h5><span class="small text-uppercase text-muted"></span>

            </div>
          </a>
          <!-- End-->

          <!-- Team item-->
          <a href="https://www.linkedin.com/in/bryce-randolph-85331417b/" class="col-lg-3 col-sm-6 mb-5" target="_blank" rel="noreferrer">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/img/Bryce_R.jpg" alt="" width="100" style="max-height: 100px;"class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Bryce Randolph</h5><span class="small text-uppercase text-muted"></span>

            </div>
          </a>
          <!-- End-->

          <!-- Team item-->
          <a href="https://www.linkedin.com/in/jeannie-davis-7999a519b/" class="col-lg-3 col-sm-6 mb-5" target="_blank" rel="noreferrer">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQETTv4tqcJQ6Q/profile-displayphoto-shrink_200_200/0/1556748346083?e=1643846400&v=beta&t=hj9zv6BLL6RsZOjFMQAJ-OpqJG2pMiiG77DiqrxOyNo" alt="" width="100" max-height= "103.1" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Jeannie Davis</h5><span class="small text-uppercase text-muted"></span>

            </div>
          </a>
          <!-- End-->

        </div>
      </div>
    </div>
  </body>
  <%- include('partials/footer.ejs') %>
    </body>
</html>
