<!DOCTYPE html>
<html>

    <head>
        <%- include('partials/imports.ejs') %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script src="/js/add-page.js"></script>
        <link rel="stylesheet" href="/css/sidebar.css">
    </head>

    <body>
        <%- include('partials/admin-sidebar.ejs') %>

        <main id="content" class="card bg-light mt-5">
            <div class="card-header">Add New Page</div>
            <div class="card-body">

                <button onclick="window.location.href='/admin';" type="button" class="btn btn-secondary">Return</button>

                <hr>

                <form method="POST">

                    <div class="form-group">
                        <h5><b>Chapter:</b> <select id="chapter" name="chapter" required></select></h5>
                    </div>

                    <br>

                    <div class="form-group">
                        <h5><label for="title">Title</label></h5>
                        <input type="text" class="form-control" name="title" maxlength="45" required>
                        <small id="titleHelp" class="form-text text-muted">Maximum 45 characters.</small>
                    </div>

                    <br>

                    <div class="form-group">
                        <h5><label for="body">Body</label></h5>
                        <textarea id="body" name="body"></textarea>
                    </div>

                    <br>

                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary">Submit Page</button>
                    </div>

                </form>

            </div>
        </main>

        <script>
            var simplemde = new SimpleMDE();
        </script>

    </body>

</html>
