<!DOCTYPE html>
<html>

    <head>
        <%- include('partials/imports.ejs') %>
        <link rel="stylesheet" href="/css/sidebar.css">
    </head>

    <body>
        <%- include('partials/admin-sidebar.ejs') %>

        <main id="content" class="card bg-light mt-5">

            <div class="card-header">Chapters</div>
            <div class="card-body">
                <ul>
                    <li><a href="/admin/chapters/add">Add a new chapter</a></li>
                    <li><a href="/admin/chapters/edit">Edit a chapter</a></li>
                </ul>
            </div>

            <div class="card-header">Pages</div>
            <div class="card-body">
                <ul>
                    <li><a href="/admin/pages/add">Add a new page</a></li>
                    <li><a href="/admin/pages/edit">Edit a page</a></li>
                </ul>
            </div>

        </main>

    </body>
</html>
