<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link href="/css/sidebar.css" rel="stylesheet"/>
    <script src="/js/chapter.js"></script>
    <style>
        #page-nav button, #page-nav a {
            margin-left: 2%; margin-right: 2%; width: 7rem;
        }
        #page-body H1,  #page-body H2,  #page-body H3,  #page-body H4,  #page-body H5,  #page-body H6 {
            text-align: center;
        }
        #page-body H1,  #page-body H2,  #page-body H3,  #page-body H4 {
            text-decoration: underline;
        }
    </style>
  </head>

<body>
  <%- include('partials/sidebar.ejs') %>
        <!-- Page content holder -->
  <main id="content">
    <div class="mx-auto mb-5" style="max-width: 45rem;text-decoration: None;">

      <div class="card border-secondary">
        <img src="img/db-graphic-banner.png" class="card-img-top" alt="background image which shows a cloud and a database">
        <div class="card-body text-center">
          <h5 id="page-title" class="card-title"></h5>

          <% if(admin) { %>
          <br>
          <div class="alert alert-primary" role="alert">
          Hi admin! <a href="/admin/pages/edit" class="alert-link">Click here to edit a page</a>.
          </div>
          <% } %>
        </div>
      </div>

      <div class="card border-primary mt-4">
        <div class="card-body">
          <p id="page-body" class="card-text"></p>
          <div id="page-nav" class="text-center"></div>
        </div>
      </div>

    </div>

  </main>
</body>
</html>
