<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link href="/css/sidebar.css" rel="stylesheet"/>
    <script src="/js/chapter.js"></script>
  </head>

<body>
  <%- include('partials/sidebar.ejs') %>
        <!-- Page content holder -->
  <main id="content">
    <div class="mx-auto mb-5" style="max-width: 45rem;text-decoration: None;">

      <div class="card border-secondary">
        <img src="img/db-graphic.jpg" class="card-img-top" alt="background image which shows a cloud and a databse">
        <div class="card-body text-center">
          <h5 id="page-title" class="card-title"></h5>
        </div>
      </div>

      <div class="card border-primary mt-4">
        <div class="card-body">
          <p id="page-body" class="card-text"></p>
          <div id="page-nav" class="text-center"></div>
        </div>
      </div>

    </div>

  </main>
</body>
</html>
