<!DOCTYPE html>
<html>

    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script src="/js/edit-page.js"></script>
        <link rel="stylesheet" href="/css/sidebar.css">
    </head>

    <body>
        <%- include('partials/admin-sidebar.ejs') %>

        <main id="content">
            <div class="mx-auto card bg-light mt-5 mb-5" style="max-width: 45rem;">
                <div class="card-header">Edit Page</div>
                <div class="card-body">

                    <button onclick="window.location.href='/admin';" type="button" class="btn btn-secondary">Return</button>

                    <hr>

                    <form method="POST">

                        <div class="form-group">
                            <h5><b>Chapter:</b> <select id="chapter" name="chapter" required></select></h5>
                        </div>

                        <br>

                        <div class="form-group">
                            <h5><b>Page:</b> <select id="page" name="page" required></select></h5>
                        </div>

                        <br>

                        <div class="form-group">
                            <h5><label for="title">Title</label></h5>
                            <input type="text" class="form-control" id="title" name="title" maxlength="45" disabled required>
                            <small id="titleHelp" class="form-text text-muted">Maximum 45 characters.</small>
                        </div>

                        <br>

                        <div class="form-group">
                            <h5><label for="body">Body</label></h5>
                            <textarea id="body" class="form-control" name="body" rows="5" disabled></textarea>
                        </div>

                        <br>

                        <div class="text-center">
                            <button type="submit" class="btn btn-secondary">Submit Page</button>
                        </div>

                    </form>

                </div>
            </div>
        </main>
        <%- include('partials/footer.ejs') %>
    </body>

</html>
