<!DOCTYPE html>
<html>
    <%- include('partials/header.ejs') %>

    <body>

        <main>
            <h2>SQL Study</h2>
            <br>
            <img src="img/example.png">
            <br>
        </main>

        <%- include('partials/footer.ejs') %>

    </body>
</html>
