<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>
    <link href="css/sidebar.css" rel="stylesheet"/>
    <script src="/js/lecture.js"></script>
  </head>

<body>
  <%- include('partials/sidebar.ejs') %>
        <!-- Page content holder -->
  <main id="content">
    <div class="mx-auto mb-5" style="max-width: 50rem;">

      <div class="card border-secondary mb-4">
        <img src="img/db-graphic.jpg" class="card-img-top" alt="background image which shows a cloud and a databse">
        <div class="card-body">
          <h5 class="card-title">Lecture Section</h5>
          <p class="card-text">Learn the basics of SQL with the help of explanations, videos, tables and graphics.</p>
        </div>
      </div>

      <div id="chapter-title"></div>

    </div>
  </main>
  <%- include('partials/footer.ejs') %>
</body>
</html>
