<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>
    <link href="css/sidebar.css" rel="stylesheet"/>
  </head>

<body>
  <%- include('partials/sidebar.ejs') %>
        <!-- Page content holder -->
  <main id="content" style="max-width: 40rem;">

    

    <a href="/quizzes">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title"><span class="badge bg-primary">Quizzes</span></h5>
       
    <a href="/quizzes/1">Quiz1(Introduction to SQL)</a><br><br>
    <a href="/quizzes/2">Quiz2(Select Statements)</a><br><br>
    <a href="/quizzes/3" >Quiz3(Advanced Select Statements)</a><br><br>
    <a href="/quizzes/4">Quiz4(Insert, Update, Delete)</a><br><br>

</div>
</div>
</a>

</main>
    </body>
</html>