<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Chapter 3 Comprehension Quiz </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script>
        <script src="/js/quiz3.js"></script>

        <%- include('partials/head.ejs') %>
    </head>

    <body class="text-center" style ="background-color:#081A51; color: white;">

        <h1 class="jumbotron" style = "color: black;">Chapter 3 Comprehension Quiz</h1>

        <h3><span id ="markImg1"></span>What is the default type of join?</h3>
        <div id="q1Choices"></div>
        <div id ="q1Feedback"></div>
        <hr>

        <h3><span id ="markImg2"></span>What keyword is used to connect columns?</h3>
        <input type = "text" id="q2">
        <div id ="q2Feedback"></div>
        <hr>

        <h3><span id ="markImg3"></span>When filtering a joined table would the WHERE go before or after the JOIN statement?</h3>
        <div id="q3Choices"></div>
        <div id ="q3Feedback"></div>
        <hr>

        <h3><span id ="markImg4"></span>What keyword is used to create an alias of a column or table?</h3>
        <input type = "text" id="q4">
        <div id ="q4Feedback"></div>
        <hr>

        <h3><span id ="markImg5"></span>Which join clause returns all of the data from both tables?</h3>
        <div id="q5Choices"></div>
        <div id ="q5Feedback"></div>

        <h3 id="validationFdbk" class="bg-danger text-white"></h3>
        <button class="btn btn-outline-success"> Submit Quiz </button>
        <br><br>

        <h2 id="totalScore" class = "text-info"></h2>

        <h2 id ="congratulations"></h2>


        <h3 id="totalAttempts"></h3>


    </body>
    <%- include('partials/footer.ejs') %>

    </html>
