<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script> 
        <%- include('partials/head.ejs') %>
    </head>
    <body style ="color: white; background-color:#081A51;">
    
        <nav>
            <div class="navbar" id="homepage">

                    <img src="/img/sql study logo.png" alt="" width="120" height="96" class="d-inline-block align-text-top">
                    <a class="active" href="/" style = "padding-right: 50px; text-decoration: none;">Home</a>
                    <a class = "nav-link"href="/about" style = "padding-right: 50px; text-decoration: none; color:white;">About</a>
                    <a class = "nav-link"href="/login" style = "padding-right: 50px; text-decoration: none; color:white;">Log In</a>
                    <a class = "nav-link"href="/signup" style = "padding-right: 50px; text-decoration: none; color:white;">Sign Up</a>
            </div>
        </nav>
        <p style ="color: white; font-family: 'Montserrat', sans-serif; font-size: 90px; font-weight:700; text-align: center; margin-top: 50px;">
          SQL Study
        </p>
        <div style ="max-width:700px; margin:0 auto">
            <p style ="color: white; font-family: 'Montserrat', sans-serif; font-size: 20px; margin-top: 50px; ">
                <br>

            </p>
        </div>
        <h1 class="jumbotron">Select Statement Comprehension Quiz</h1>
        
        <h3><span id ="markImg1"></span>What kind of statement returns values from a table?</h3>   
        <input type = "text" id="q1">
        <br><br>
        <div id ="q1Feedback"></div>
        <br>
        <hr>
        
        <h3><span id ="markImg2"></span>What port does MySQL run on by default?</h3>
        <div id="q2Choices"></div>
        <div id ="q2Feedback"></div>
        <br><hr>
        
        <h3><span id ="markImg3"></span>Which of these are proper datatypes?</h3>
        <input type="checkbox" id="FLOAT"> <label for="FLOAT"> FLOAT </label>
        <input type="checkbox" id="DATE"> <label for="DATE"> DATE </label>
        <input type="checkbox" id="MONEY"> <label for="MONEY"> MONEY </label>
        <input type="checkbox" id="VARCHAR"> <label for="VARCHAR"> VARCHAR </label>
        <br>
        
        <div id ="q3Feedback"></div>
        <br><hr>
        
        <h3><span id ="markImg4"></span>What will this query return? SELECT * FROM TABLE</h3>
        <div id="q4Choices"></div>
        <div id ="q4Feedback"></div>
        <br><hr>

        <h3><span id ="markImg5"></span>Which clause can modify a query to search for a given value in a column?</h3>
        <div id="q5Choices"></div>
        <div id ="q5Feedback"></div>
        <br><hr>

        
        <h3 id="validationFdbk" class="bg-danger text-white"></h3>
        <button class="btn btn-outline-success"> Submit Quiz </button>
        <br><br>
        
        <h2 id="totalScore" class = "text-info"></h2>
        
        <h2 id ="congratulations"></h2>
        
    
        <h3 id="totalAttempts"></h3>
       
        <%- include('partials/footer.ejs') %>

    </body>
</html>
