<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>
    <link href="/css/sidebar.css" rel="stylesheet"/>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script>
    <script src="/js/quiz2.js"></script>
  </head>

<body>
  <%- include('partials/sidebar.ejs') %>
        <!-- Page content holder -->
  <main id="content" >
    <div class="card border-secondary mx-auto" style="max-width: 50rem;">
      <img src="/img/db-graphic.jpg" class="card-img-top" alt="background image which shows a cloud and a databse">
      <div class="card-body">
        <h3 class="card-title text-center"><span class="badge bg-secondary">Quiz #2</span> Intro to Select Statements</h3>
      </div>
    </div>

    <div class="mx-auto mt-5" style="max-width: 45rem;">

      <div class="card bg-light border-primary mt-2 mb-2 mx-auto text-center rounded">
        <div class="card-body">
          <h5 class="card-title"><span class="badge bg-primary">Question #1</span></h5>
          <h4><span id ="markImg1"></span> What kind of statement returns values from a table?</h4>
          <input type = "text" id="q1">
          <div id ="q1Feedback"></div>
        </div>
      </div>

      <div class="card bg-light border-primary mt-2 mb-2 mx-auto text-center rounded">
        <div class="card-body">
          <h5 class="card-title"><span class="badge bg-primary">Question #2</span></h5>
          <h4><span id ="markImg2"></span> In MySQL, which of these means a cell has no value?</h4>
          <div id="q2Choices"></div>
          <div id ="q2Feedback"></div>
        </div>
      </div>

      <div class="card bg-light border-primary mt-2 mb-2 mx-auto text-center rounded">
        <div class="card-body">
          <h5 class="card-title"><span class="badge bg-primary">Question #3</span></h5>
          <h4><span id ="markImg3"></span> Which of these are proper datatypes?</h4>
          <input type="checkbox" id="FLOAT"> <label for="FLOAT"> FLOAT </label>&emsp;
          <input type="checkbox" id="DATE"> <label for="DATE"> DATE </label>&emsp;
          <input type="checkbox" id="DOLLARS"> <label for="DOLLARS"> DOLLARS </label>&emsp;
          <input type="checkbox" id="VARCHAR"> <label for="VARCHAR"> VARCHAR </label>

          <div id ="q3Feedback"></div>
        </div>
      </div>

      <div class="card bg-light border-primary mt-2 mb-2 mx-auto text-center rounded">
        <div class="card-body">
          <h5 class="card-title"><span class="badge bg-primary">Question #4</span></h5>
          <h4><span id ="markImg4"></span> What will this query return? SELECT * FROM TABLE</h4>
          <div id="q4Choices"></div>
          <div id ="q4Feedback"></div>
        </div>
      </div>

      <div class="card bg-light border-primary mt-2 mb-2 mx-auto text-center rounded">
        <div class="card-body">
          <h5 class="card-title"><span class="badge bg-primary">Question #5</span></h5>
          <h4><span id ="markImg5"></span> Which clause can modify a query to search for a given value in a column?</h4>
          <div id="q5Choices"></div>
          <div id ="q5Feedback"></div>
        </div>
      </div>

      <div class="card border-secondary mt-4 mb-2 mx-auto text-center rounded">
        <div class="card-body">
          <button class="btn btn-secondary"> Submit Quiz </button>
          <br><br>
          <h5 id="validationFdbk"></h5>
          <h3 id="totalScore" class = "text-info"></h3>
          <h3 id ="congratulations"></h3>
          <h3 id="totalAttempts"></h3>
        </div>
      </div>
    </div>

  </main>
</body>
</html>
