<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link href="/css/sidebar.css" rel="stylesheet"/>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script>
    <script src="/js/quiz4.js"></script>
  </head>

<body>
  <%- include('partials/sidebar.ejs') %>
        <!-- Page content holder -->
  <main id="content">
    <div class="mx-auto mb-5" style="max-width: 50rem;">

      <div class="card border-secondary mb-5">
        <img src="/img/db-graphic-banner.png" class="card-img-top" alt="background image which shows a cloud and a database">
        <div class="card-body text-center">
          <h3 class="card-title"><span class="badge bg-primary">Chapter 4</span> <span class="badge bg-light text-dark">Comprehension Quiz</span></h3>
        </div>
      </div>

      <div class="card mx-auto pt-5 pb-5 mb-5 text-center" style="background-color:#081A51; color: white;">
        <h4><span id ="markImg1"></span>Which of the following is not a valid SQL type?
        </h4>
        <div id="q1Choices"></div>
        <div id="q1Feedback"></div>
        <hr>

        <h4><span id ="markImg2"></span>What is the maximum length of the CHAR data type?</h4>
        <div id="q2Choices"></div>
        <div id="q2Feedback"></div>
        <hr>

        <h4><span id ="markImg3"></span>Which statement is used to INSERT data into a Database?</h4>
        <div id="q3Choices"></div>
        <div id="q3Feedback"></div>
        <hr>

        <h4><span id ="markImg4"></span>Which of the following is not a MySQL keyword?</h4>
        <div id="q4Choices"></div>
        <div id ="q4Feedback"></div>
        <hr>

        <h4><span id ="markImg5"></span>Which command lets you change one or more fields in a table?</h4>
        <div id="q5Choices"></div>
        <div id="q5Feedback"></div>

        <h4 id="validationFdbk" class="bg-danger text-white"></h4>
        <button class="btn btn-outline-success w-25 mx-auto"> Submit Quiz </button>
        <br><br>

        <h4 id="totalScore" class ="text-info"></h4>

        <h4 id ="congratulations"></h4>


        <h4 id="totalAttempts"></h4>

        <%- include('partials/footer.ejs') %>
      </div>

    </div>

  </main>
</body>
</html>
