<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link href="/css/sidebar.css" rel="stylesheet"/>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script>
    <script src="/js/quiz3.js"></script>
  </head>

<body>
  <%- include('partials/sidebar.ejs') %>
        <!-- Page content holder -->
  <main id="content">
    <div class="mx-auto mb-5" style="max-width: 50rem;">

      <div class="card border-secondary mb-5">
        <img src="/img/db-graphic-banner.png" class="card-img-top" alt="background image which shows a cloud and a database">
        <div class="card-body text-center">
          <h3 class="card-title"><span class="badge bg-primary">Chapter 3</span> <span class="badge bg-light text-dark">Comprehension Quiz</span></h3>
        </div>
      </div>

      <div class="card mx-auto pt-5 pb-5 mb-5 text-center" style="background-color:#081A51; color: white;">
        <form>
          <h4>What is the default type of join?</h4>
          <div id="q1Choices"></div>
          <h4 id ="q1Feedback"></h4>
          <hr>

          <h4>What keyword is used to connect columns?</h4>
          <input type="text" id="q2" class="w-25 mx-auto" required>
          <h4 id ="q2Feedback"></h4>
          <hr>

          <h4>When filtering a joined table does the WHERE
             go before or after the JOIN?</h4>
          <div id="q3Choices"></div>
          <h4 id ="q3Feedback"></h4>
          <hr>

          <h4>What keyword is used to create an alias of a column or table?</h4>
          <input type="text" id="q4" class="w-25 mx-auto" required>
          <h4 id ="q4Feedback"></h4>
          <hr>

          <h4>Which join clause returns all of the data from both tables?</h4>
          <div id="q5Choices"></div>
          <h4 id ="q5Feedback"></h4>

          <hr>
          <button type="submit" class="btn btn-primary w-25 mx-auto"><b> Submit Quiz </b></button>
        </form>
        <br><br>

        <h4 id="totalScore" class = "text-info"></h4>

        <h4 id ="congratulations"></h4>

        <%- include('partials/footer.ejs') %>
      </div>

    </div>

  </main>
</body>
</html>
