<!DOCTYPE html>
<html>
<head>
    <title>SQL Study</title>
    <link rel="stylesheet" href="css/login.min.css">
</head>
<body style ="background-color:#081A51;">
  <nav>
    <div class="navbar">
        <img src="/img/sql study logo.png" alt="" width="120" height="96" class="d-inline-block align-text-top">
        <a class="nav-link" href="/" style = "padding-right: 50px; text-decoration: none; color:white;">Home</a>
        <a class = "nav-link"href="/about" style = "padding-right: 50px; text-decoration: none; color:white;">About</a>
        <a class = "nav-link"href="/login" style = "padding-right: 50px; text-decoration: none;  color:white;">Log In</a>
        <a class = "active"href="/signup" style = "padding-right: 50px; text-decoration: none; ">Sign Up</a>
    </div>
</nav>
  <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
                <img src="/img/sql study logo.png" alt="" width="120" height="96" class="d-inline-block align-text-top">
								<h2>Welcome to SQL Study</h2>
								<p>Sign Up for an Account Here</p>
							</div>
			      </div>
              <div class="login-wrap p-4 p-lg-5">
                  <form action="" method="POST" class="form-signin">
                    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" value="<%= userData.username %>" class="form-control" placeholder="Username" required autofocus> <br>
                    <label for="email" class="sr-only">Email address</label>
                    <input type="email" id="email" name="email" value="<%= userData.email %>" class="form-control" placeholder="Email address" required> <br>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" value="<%= userData.password %>" class="form-control" placeholder="Password" required> <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

                    <%- include('partials/flash_messages'); %>

                    <br/>
                    <p>or</p>
                    <!-- <a href="/auth/facebook">Sign up via Facebook</a>
                    <br/> -->
                    <a href="/auth/google">Sign up via Google</a>
                  </form>
                </div>
		          </div>
				    </div>
			    </div>
		    </div>
	    </section>
    </body>
</html>
