@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    margin: 0;
    text-align:center;
  }
  
  li a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #1B2B65;
    color: #51CBFF;
  }
  
  li a:hover:not(.active) {
    background-color: #1B2B65;
    color: white;
  }
#homepage{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #081A51;
  text-align: center;
  padding: 14px 16px;
    color: white;
  font-family: Roboto-regular;
    font-size: 40px;
}
.active {
    color: #48B4E9;
}
 .nav-link:hover:not(.active) {
    background-color: #1B2B65;
    color: white;
  }

  .vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
 .nav-item.active{
  
    color: #48B4E9;
 }